<div class="row">
  <div class="col-md-12 call-center">
    <img
      src="https://img.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg?w=1060&t=st=1697368880~exp=1697369480~hmac=00f2c5024a475f36ec859696323e31c93ca3e575f0772d79571e4eabe76384e6"
      alt="contact-us image">
  </div>
</div>

<div class="row forms">
  <div class="col-md-5">
    <form>
      <!-- First Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="form4Example1" class="form-control" />
        <label class="form-label" for="form4Example1">First Name</label>
      </div>

      <!-- Last Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="form4Example1" class="form-control" />
        <label class="form-label" for="form4Example1">Last Name</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form4Example2" class="form-control" />
        <label class="form-label" for="form4Example2">Email address</label>
      </div>

      <!-- Message input -->
      <div class="form-outline mb-4">
        <textarea class="form-control" id="form4Example3" rows="8"></textarea>
        <label class="form-label" for="form4Example3">Message</label>
      </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary mb-4" id="button">Reach out to us</button>
    </form>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">

    <div class="card contact-card">

      <div class="card-body">
        <h5 class="card-title get">Get in Touch</h5>
        <p class="card-text description">We'd love to hear from you! If you have any questions about our products or services, or if you just want to say hi, please don't hesitate to get in touch. We're always happy to hear from our customers</p>

        <div class="row">
            <div class="col-md-2 icons">
                <i class="fas fa-location-dot fa-2x"></i>
            </div>
            <div class="col-md-10">
                <h6 class="heading">Pimp my Ride</h6>
                <p class="subheading">Nairobi,Kenya</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2 icons">
                <i class="fas fa-phone-volume fa-2x" id="phone"></i>
            </div>
            <div class="col-md-10">
                <h6 class="heading">Telephone</h6>
                <p class="subheading">+254723987838</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2 icons-3">
                <i class="far fa-envelope fa-2x" id="envelope"></i>
            </div>
            <div class="col-md-10">
                <h6 class="heading">email</h6>
                <p class="subheading">rotichkipkemboireuben@gmail.com</p>
            </div>

        </div>
        
      </div>



    </div>

  </div>
</div>
