<section class="gradient-custom">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12">
          <div class="text-center mb-4 pb-2">
            <i class="fas fa-quote-left fa-3x text-white"></i>
          </div>
  
          <div class="card">
            <div class="card-body px-4 py-5">
              <!-- Carousel wrapper -->
              <div id="carouselDarkVariant" class="carousel slide carousel-dark" data-mdb-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators mb-0">
                  <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                    aria-label="Slide 1"></button>
                  <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                    aria-label="Slide 1"></button>
                </div>
  
                <!-- Inner -->
                <div class="carousel-inner pb-5">
                  <!-- Single item -->
                  <div class="carousel-item active">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div
                            class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Canne A Sucre - Web Developer</h4>
                            <p class="mb-0 pb-3">
                                I was hesitant about customizing my car, but your expertise and guidance put me at ease. The end result is stunning, and I feel like I'm driving a brand-new car. Thank you for making it happen.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Single item -->
                  <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div
                            class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">A flye - Graphic Designer</h4>
                            <p class="mb-0 pb-3">
                                I couldn't be happier with the transformation my car received from your team. The attention to detail and quality of work are unmatched. My car is now a head-turner everywhere I go.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Single item -->
                  <div class="carousel-item">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-10 col-xl-8">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                              class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                              height="150" />
                          </div>
                          <div
                            class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                            <h4 class="mb-4">Reuben Kipkemboi - Business Analyst</h4>
                            <p class="mb-0 pb-3">
                                Thank you for turning my dream car into a reality. Your customizations have completely exceeded my expectations. I'm now cruising in style and loving every moment.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Inner -->
  
                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Carousel wrapper -->
            </div>
          </div>
  
          <div class="text-center mt-4 pt-2">
            <i class="fas fa-quote-right fa-3x text-white"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
