<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

      <div class="card">
        <img src="https://img.freepik.com/free-photo/red-luxury-sedan-road_114579-5079.jpg?w=900&t=st=1690051444~exp=1690052044~hmac=2156c865076f34485dc4eca511a5e84bb6edaaf522bb24f63894978080be0710" class="card-img-top"
          alt="Sunset Over the Sea" />
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>


    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-photo/front-right-side-blue-sedan-car_114579-4394.jpg?w=900&t=st=1690051489~exp=1690052089~hmac=96163919d36826c5cd6c30656d60d4dda60111235dc705ec9f44c040c6e09318" class="card-img-top"
          alt="Sunset Over the Sea" />
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://img.freepik.com/free-photo/blue-black-muscle-car-with-license-plate-that-says-trans-front_1340-23399.jpg?t=st=1690051075~exp=1690054675~hmac=e2f436b2a93c92cef6c0656896acd663574b7552899af459e4d89ec488b4ed61&w=900" class="card-img-top"
          alt="Sunset Over the Sea" />
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
