<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

      <div class="card">
        <img
          src="https://img.freepik.com/free-photo/red-luxury-sedan-road_114579-5079.jpg?w=900&t=st=1690051444~exp=1690052044~hmac=2156c865076f34485dc4eca511a5e84bb6edaaf522bb24f63894978080be0710"
          class="card-img-top" alt="Sunset Over the Sea" />
        <div class="card-body">
          <h2 class="card-title">Paint Customization</h2>
          <p>
            Unleash your creativity with our wide range of paint customization options.
            Choose from an extensive palette of colors and finishes to give your car a distinct look that reflects your
            personality.
            From vibrant hues to sleek metallic shades, the possibilities are endless.
            Turn heads on the road with a paint job that's uniquely yours.
          </p>
        </div>
      </div>


    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://img.freepik.com/free-photo/front-right-side-blue-sedan-car_114579-4394.jpg?w=900&t=st=1690051489~exp=1690052089~hmac=96163919d36826c5cd6c30656d60d4dda60111235dc705ec9f44c040c6e09318"
          class="card-img-top" alt="Sunset Over the Sea" />
        <div class="card-body">
          <h2 class="card-title">Wheel Upgrades</h2>
          <p>
            Elevate your car's style and performance with our premium wheel upgrades.
            Explore an impressive collection of alloy and forged wheels in various sizes and designs.
            Whether you prefer a classic look or a modern flair, our wheel options cater to all tastes.
            Enhance your driving experience with wheels that not only turn heads but also deliver exceptional
            performance and handling.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://img.freepik.com/free-photo/blue-black-muscle-car-with-license-plate-that-says-trans-front_1340-23399.jpg?t=st=1690051075~exp=1690054675~hmac=e2f436b2a93c92cef6c0656896acd663574b7552899af459e4d89ec488b4ed61&w=900"
          class="card-img-top" alt="Sunset Over the Sea" />
        <div class="card-body">
          <h2 class="card-title">Car Body Customization</h2>
          <p class="card-description">
            Personalize your car with our car body customization options. Choose from a stunning range of paint colors
            and finishes
            to create a unique look for your car. Add custom decals and graphics to make your car stand out. Enhance the
            aerodynamics
            with our body kits and spoilers. Let your imagination run wild and transform your car into a rolling work of
            art that is uniquely yours.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://img.freepik.com/free-photo/red-black-sport-cars-racing-highway_114579-4069.jpg?w=900&t=st=1690721239~exp=1690721839~hmac=7c2d163b70adee18b0c8cf0a7fea8ee4bd32403587af6cd9b8b1fef93b777a1e"
          class="card-img-top" alt="Sunset Over the Sea" />
        <div class="card-body">
          <h2 class="card-title">Speed Customization</h2>
          <p class="card-description">
            Take your car's performance to the next level with our speed customization options. From engine tuning and
            upgrades to
            performance exhaust systems, we offer a range of solutions to boost your car's speed and acceleration.
            Experience
            thrilling drives and unleash the true potential of your vehicle on the road or track.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://img.freepik.com/free-photo/black-interior-details-modern-luxury-car_181624-33049.jpg?w=900&t=st=1690722670~exp=1690723270~hmac=06115017bffba34df4b670f711298d4025265c101e2e1fbd4cd844c57a1e259f"
          class="card-img-top" alt="Customized Interior" />
        <div class="card-body">
          <h2 class="card-title">Interior Customization</h2>
          <p class="card-description">
            Create a personalized and luxurious interior with our interior customization options. Choose from a variety
            of upholstery
            materials, seat covers, dashboard trims, and accessories to design a comfortable and stylish cabin. Elevate
            your driving
            experience with interior upgrades that match your unique taste and preferences.
          </p>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          src="https://img.freepik.com/free-photo/spoiler-red-sports-car-white-room_181624-27183.jpg?w=900&t=st=1690722908~exp=1690723508~hmac=db40894aadab9df2d420b55b34a9133db16afb33114e1fb384aa9f7a0530f323"
          class="card-img-top" alt="Customized Interior" />
        <div class="card-body">
          <h2 class="card-title">Spoilers Customization</h2>
          <p class="card-description">
            Enhance your car's aerodynamics and style with our spoilers customization options. Choose from a variety of
            sleek and
            sporty spoilers that not only improve downforce and stability but also give your vehicle a more aggressive
            and
            eye-catching look. Our expert team will help you find the perfect spoiler design to match your car's make
            and model.
          </p>

        </div>
      </div>
    </div>

  </div>
</div>
