<div class="container-fluid">

  <h2>Available products</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- card 1 -->
    <div class="col">
      <div class="card">
        <img src="" alt="">
        <div class="part-name">Engine Oil Filter</div>
        <div class="part-description">
          High-quality engine oil filter for optimal engine performance and longevity.
        </div>
        <div class="part-price">$12.99</div>
      </div>
    </div>

    <!-- card2 -->
    <div class="col">
      <div class="card">
        <div class="part-name">Engine Oil Filter</div>
        <div class="part-description">
          High-quality engine oil filter for optimal engine performance and longevity.
        </div>
        <div class="part-price">$12.99</div>
      </div>
    </div>

    <!-- card 3 -->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>

      <!-- card 4 -->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>

      <!-- card 5 -->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>


      <!-- card 6-->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>


      <!-- card 7-->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>


      <!-- card 8 -->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>

        <!-- card 9 -->
    <div class="col">
        <div class="card">
          <div class="part-name">Engine Oil Filter</div>
          <div class="part-description">
            High-quality engine oil filter for optimal engine performance and longevity.
          </div>
          <div class="part-price">$12.99</div>
        </div>
      </div>
  </div>
</div>
