<div class="container-fluid">
    <div class="row row-one">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Revamp your <span>Ride</span></h1>
        </div>
        <div class="col-md-3"></div>
    </div> 

    <!-- section2 -->
    <div class="row">
        <div class="col-md-4 image-class">
            <img src="./assets/images/red.png" alt="red-car">
        </div>
    </div>
    <!-- d-flex align-items-center justify-content-center -->
    <div class="row">
        <div class="col-md-12">
            <!-- <img src="./assets/images/green.png" alt="" id="green-car"> -->
            <img src="./assets/images/64420.jpg" alt="" id="green-car">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 small-image bg-danger">
            <img src="./assets/images/67418.jpg" alt="">
        </div>

        <div class="col-md-5 bg-secondary">hello</div>

        <div class="col-md-3 d-flex justify-content-end bg-primary" id="request-button">
            <button type="button" class="btn btn-primary">Request for Customization</button>
        </div>

        <!-- request button -->
    </div>
</div>
