@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');


h1{
    font-family: 'Freehand', cursive;
    text-align: center;
    font-size: 10vh;
}
h1 span{
    color: #1c6d3a;
}
.row-one{
    margin-top: 5%;
}
.image-class img{
    margin-left: -30%;
    height: 50vh;
    width: 30vw;
    object-fit: cover;
}
#green-car{
    width: 80vw;
    /* height: 100vh; */
    object-fit: cover;
}