<div class="container-fluid">
    <div class="row row-one">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Revamp your <span>Ride</span></h1>
        </div>
        <div class="col-md-3"></div>
    </div> 

    <!-- section2 -->
    <div class="row">
        <div class="col-md-4 image-class">
            <img src="./assets/images/red.png" alt="red-car">
        </div>
    </div>
    <!-- d-flex align-items-center justify-content-center -->
    <div class="row ">
        <div class="col-md-12">
            <!-- <img src="./assets/images/green.png" alt="" id="green-car"> -->
            <img src="https://img.freepik.com/free-vector/green-sports-car-isolated-white-vector_53876-64420.jpg?w=1380&t=st=1689778860~exp=1689779460~hmac=85460cef0373ab23bc106b29d6d3d9790b1738c9199292e63a28d961ff502ddb" alt="" id="green-car">
        </div>
    </div>
</div>
