@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  font-family: 'Freehand', cursive;
}
.footer {
    background-color: #DBF6F2;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
  
  }

